<!DOCTYPE html>

{% load static %}
{% load i18n %}
{% load irunner_next %}

<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}{% endblock %} &mdash; {{ system_short_name }}</title>
        {% if meta_description %}<meta name="description" content="{{ meta_description }}">{% endif %}

        <link rel="icon" type="image/png" href="{% static 'favicon.png' %}">
        <link rel="yandex-tableau-widget" href="{% static 'manifest.json' %}">
        <link href="{% static 'bootstrap-3.4.1-dist/css/bootstrap.css' %}" rel="stylesheet">
        {#<link href="{% static 'bootstrap-3.4.1-dist/css/bootstrap-theme.css' %}" rel="stylesheet">#}
        <link href="{% static 'irunner2.css' %}?{{ REVISION }}" rel="stylesheet">

        <!--[if lt IE 9]>
            <script src="{% static 'html5shiv/html5shiv.min.js' %}"></script>
            <script src="{% static 'respond/respond.min.js' %}"></script>
        <![endif]-->

        <script src="{% static 'jquery/jquery-1.11.3.min.js' %}"></script>
        <script src="{% static 'bootstrap-3.4.1-dist/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'irunner2.js' %}?{{ REVISION }}"></script>
        <script src="{% url 'js_reverse' %}"></script>

        {% block head %}
        {% endblock %}
    </head>
    <body class="ir-with-footer-{%if location == 'BSU' %}3{% else %}2{% endif %}">
        {% block allbody %}

            {% include 'navbar.html' %}

            <div class="container" id="ir_container">
                {% block content %}
                {% endblock %}
            </div>

        {% endblock %}

        {% block foot %}
        {% endblock %}

        <footer class="footer footer-{% if location == 'BSU' %}3{% else %}2{% endif %}">
            <div class="container">
                <div class="ir-footer">
                    <div>{{ system_full_name }}{% if show_about_page %} <span class="ir-monospace">#{{ REVISION }}</span>{% endif %}</div>
                    {% if location == 'BSU' %}<div>&copy; 2001&ndash;{% now "Y" %} {% trans 'DMA department of FAMCS BSU' %}</div>{% endif %}
                    <div>
                        {% if show_about_page %}<a href="{% url 'about' %}">{% trans 'About' context 'about the system' %}</a>{% endif %}
                        <a href="{% url 'language' %}?next={% irunner_next %}">{{ language_switcher_link_text }}</a>
                        <a href="{% url 'feedback:new' %}">{% trans 'Feedback' %}</a>
                        <a href="{% url 'cookie_policy' %}">{% trans 'Cookie policy' %}</a>
                    </div>
                </div>
            </div>
        </footer>

    {% if show_cookie_consent %}
    <div class="alert text-center ir-cookiealert show" role="alert">
        <b>{% trans 'iRunner does not track you.' %}</b> {% trans 'Only necessary cookies are used.' %} <a href="{% url 'cookie_policy' %}" target="_blank">{% trans 'Cookie policy' %}</a>
        <button type="button" class="btn btn-primary btn-sm ir-acceptcookies">{% trans 'I agree' %}</button>
    </div>
    <script>$(document).ready(function() {
        $(".ir-acceptcookies").click(function() {
            $.post("{% url 'accept_cookie_policy' %}").done(function() {
                $(".ir-cookiealert").removeClass("show");
            });
        });
    });</script>
    {% endif %}
    </body>
</html>
