{% extends 'base.html' %}

{% load i18n %}
{% load static %}

{% block title %}{% trans 'Cookie policy' %}{% endblock %}

{% block content %}

<h1>Политика в отношении обработки cookie-файлов</h1>

<p>Данная политика разработана во исполнение требований Закона Республики Беларусь от 7&nbsp;мая&nbsp;2021&nbsp;г. № 99-З «О защите персональных данных» в целях защиты персональных данных пользователей.</p>

<p>Ссылка на данную политику имеется в нижней части на любой странице сайта.</p>

<ol>
    <li>
        <p><i>Куки</i> (англ. <i>cookies</i>) являются текстовым файлом, сохранённым в браузере компьютера (мобильного устройства) пользователя образовательного портала iRunner&nbsp;2 (далее – сайта) при его посещении для отражения совершённых действий.</p>
        <p>Целью обработки куки является обеспечение принципиальной возможности пользования ресурсом и повышение качества его функционирования.</p>
        <p>Для пользователя сайта куки позволяют не авторизовываться заново при открытии каждой следующей страницы. Кроме того, куки дают возможность выбирать те же параметры при повторном посещении сайта, например выбор языковой версии.</p>
        <p class="text-success">
            Сайт <b>не использует</b> статистические и рекламные куки. Сайт не собирает данные о ваших интересах, поведении, посещаемых страницах и источниках трафика.
            Сайт не применяет никакие сервисы аналитики и статистики, например Google Analytics или Яндекс Метрику.
            Сайт не персонализирует рекламные объявления и другие материалы, не взаимодействует с социальными сетями, не сотрудничает с партнёрами, которым можно предоставлять информацию об использовании.
            Сайт не передаёт данные третьим лицам, в том числе за границу, работает на серверах Белорусского государственного университета.
        </p>
    </li>

    <li>
        <p>
            На сайте обрабатываются следующие типы куки:
            <ul>
                <li>необходимые – нужны для функционирования корректной работы сайта;</li>
                <li>функциональные – позволяют обеспечить индивидуальный опыт использования сайта и устанавливаются в ответ на действия субъекта персональных данных.</li>
            </ul>
        </p>
    </li>

    <li>
        Обрабатываемые на сайте куки и сроки их хранения:
        <table class="table">
            <thead>
                <tr>
                    <th>Наименование переменной</th>
                    <th>Срок хранения значения</th>
                    <th>Тип</th>
                    <th>Использование</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>sessionid</code></td>
                    <td>До закрытия браузера<br>Полгода (при включении «Запомнить меня»)</td>
                    <td>Необходимая</td>
                    <td>Для поддержки сессии пользователя</td>
                </tr>
                <tr>
                    <td><code>csrftoken</code></td>
                    <td>Один год</td>
                    <td>Необходимая</td>
                    <td>Для защиты от CSRF-атак</td>
                </tr>
                <tr>
                    <td><code>django_language</code></td>
                    <td>До закрытия браузера</td>
                    <td>Функциональная</td>
                    <td>Для изменения языка интерфейса</td>
                </tr>
            </tbody>
        </table>
    </li>
    <li>
        <p>Пользователи могут принять все обрабатываемые на сайте куки или покинуть сайт, так как в противном случае его функционирование становится фактически невозможным.</p>
    </li>
    <li>
        <p>По окончании сроков хранения куки сайт снова запросит ваше согласие.</p>
    </li>
    <li>
        <p>Помимо настроек куки на сайте субъекты персональных данных могут принять или отклонить сбор всех или некоторых куки в настройках своего браузера.</p>

        <p>При этом некоторые браузеры позволяют посещать интернет-сайты в режиме «инкогнито», чтобы ограничить хранимый на компьютере объём информации и автоматически удалять сессионные куки. Кроме того, субъект персональных данных может удалить ранее сохранённые куки, выбрав соответствующую опцию в истории браузера.</p>

        <p>Подробнее с параметрами управления куки можно ознакомиться, перейдя по внешним ссылкам, ведущим на соответствующие страницы сайтов основных браузеров:</p>
        <ul>
            <li><a href="https://support.mozilla.org/ru/kb/udalenie-kukov-dlya-udaleniya-informacii-kotoruyu-">Firefox</a>;</li>

            <li><a href="https://support.google.com/chrome/answer/95647?hl=ru">Chrome</a>;</li>

            <li><a href="https://support.apple.com/ru-ru/guide/safari/sfri11471/mac">Safari</a>;</li>

            <li><a href="https://help.opera.com/ru/latest/web-preferences/#Управление-файлами-cookie">Opera</a>;</li>

            <li><a href="https://support.microsoft.com/ru-ru/microsoft-edge/удаление-файлов-cookie-в-microsoft-edge-63947406-40ac-c3b8-57b9-2a946a29ae09">Microsoft Edge</a>;</li>

            <li><a href="https://support.microsoft.com/ru-ru/windows/удаление-файлов-cookie-и-управление-ими-168dab11-0753-043d-7c16-ede5947fc64d">Internet Explorer</a>.</li>
        </ul>
    </li>
</ol>

{% endblock %}
